*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;
}

/*BARRA DE DESPLAZAMIENTO*/

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: rgb(23, 23, 23);
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(159, 54, 71); /* Color del "thumb" (el botón de desplazamiento) */
    border-radius: 50px;
}

/* Firefox */
::-moz-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: rgb(23, 23, 23);
    border-radius: 50px;
}
  
::-moz-scrollbar-thumb {
    background-color: rgb(159, 54, 71); /* Color del "thumb" (el botón de desplazamiento) */
    border-radius: 50px;
}
  
/* Internet Explorer y Edge */
::-ms-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: rgb(23, 23, 23);
    border-radius: 50px;
}
  
::-ms-scrollbar-thumb {
    background-color: rgb(159, 54, 71); /* Color del "thumb" (el botón de desplazamiento) */
    border-radius: 50px;
}

/*BODY*/
body{
    background-color: rgb(24, 20, 25);
    color:white;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/*HEADER*/
.header{
    background-color:rgb(159, 54, 71);
    width: 100vw;     
    height:77px;  
    position: sticky;
    top: 0; 
    z-index:99999;
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5rem 2.5rem;
}

.logo{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}    

.logo:hover{    
    animation: retumbar 0.4s infinite;
}

@keyframes retumbar {
    0%{
        transform: rotate(0deg);
    } 
    33%{
        transform: rotate(10deg) translate(10px, 3px);        
    }        
    66% { 
        transform: rotate(-10deg) translate(-10px, 3px); 
    }      
    100%{
        transform: rotate(0deg);
    }   
}

.contenedor-botones{
    display: flex;
    align-items: center;
}

.btn{    
    color:white;
    margin-right:1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;                    
    transition: box-shadow 0.5s;   
}  

.header .btn:hover {    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}
          
.header .contenedor-botones .btn:nth-child(3){   
    background-color: rgb(24, 20, 25); 
}

.header .contenedor-botones .btn:nth-child(3):hover{   
    background-color: rgb(159, 54, 71);
}

@media (max-width: 768px) {     
    .header{                
        height: 125px;  
    }  

    .barra-navegacion{       
        flex-direction: column;
        padding: 1.5rem 2rem;
    }
        
    .logo{
        margin-bottom: 1.5rem;
    }    
       
    .btn{
        margin-right:1rem;        
        font-size: 1rem;
        padding: 0.25rem 0.5rem;  
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */                       
    }
}

.ancla{
    position: fixed;
    bottom: 30px;
    right: 30px; 
    cursor: pointer;
    z-index: 999999; /*para que quede por encima de todo*/   
    width: 30px;
    height: 30px;
    /*background-color: rgb(159, 54, 71);
    border-radius: 50%;*/
}

.img-flecha{
    width: 100%;
    height: 100%;
}

/*SECTION REGISTRO*/
.sectionRegistro{
    position: relative;
    height: 90vh;
    min-height: 462px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
    background-image: url(imagenes/gente-viendo-ani-movie.jpg);
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Para que la imagen no se repita */

    animation: crecer 1.5s forwards;
}

@keyframes crecer{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.negro-transparente{
    position: absolute; /* Para posicionar este elemento sobre el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
}

.titulo{
    z-index: 1;
    font-size: 4rem;
}
        
.texto{
    z-index: 1;
    font-size: 2rem;    
}

.texto:first-of-type{
    margin-top: 2rem;
}

.btn-registro{    
    z-index: 1;
    margin-top: 2rem;
    background-color:rgb(159, 54, 71);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.7rem 1.8rem;                  
    transition: transform 0.5s, box-shadow 0.5s;
}

.achicar:hover {
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.37);
}  

@media (max-width: 768px) {
    .sectionRegistro{
        height: 60vh;
        min-height: 325px;
    }

    .titulo{
        font-size: 2.2rem;           
        text-align: center;  
        margin: 0;
    }
            
    .texto{
        font-size: 1.2rem;
    }
            
    .btn-registro{
        padding: 0.5rem 1.2rem; 
        font-size: 1rem;
    }
    
}

/*SECTION BUSCADOR*/
.sectionBuscardor{
    background-color: rgb(24, 20, 25);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 385px;
}

.subtitulo{
    font-size: 2.4rem;   
}

.buscador{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.entrada{
    background-color:white;  
    color: grey;
    border-radius: 30px;
    border: none;
    outline: none;/*eliminar el foco cuando estamos en el buscador*/
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1.2rem;
    height: 3rem;      
    width: 30rem;    
}

.btn-buscador{
    background-color:rgb(159, 54, 71);    
    color:white;
    border-radius: 30px;
    border: 1.5px solid white;
    font-size: 1.2rem;    
    padding: 0 1.2rem;
    height: 3rem;                        
    transition: transform 0.5s, box-shadow 0.5s;
}

@media (max-width: 768px) {    
    .sectionBuscardor{
        height: 30vh;
        min-height: 250px;
    }

    .subtitulo{
        font-size: 1.6rem;
        text-align: center;
    }

    .buscador{
        width: 95%;  
    }

    .entrada{
        font-size: 1rem;
        height: 40px;
        width: 300px;
    }
                
    .btn-buscador{
        height: 40px;
        padding:0 15px;
        font-size: 1rem;
    }       
}

@media (max-width: 400px) {    
   .entrada{
        font-size: 1rem;
        height: 40px;
        width: 200px;
    }     
}
       
hr{
    width: 75vw;
    border: 2px solid rgb(159, 54, 71);    
    border-radius: 2px;
    margin: 0 12.5vw;
}

/*SECTION TENDENCIAS*/     
.sectionTendencias{
    scroll-margin-top: 12vh;
    width:75vw;
    margin: 0 12.5vw;
    text-align: center;
    margin-top: 1rem;
}
       
.contenedor-peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.pelicula{
    width:200px;
    height: 300px;
    margin: 30px 30px;
    border-radius: 10px;    
    position: relative;
    transition: all 0.5s ease;    
}

.pelicula:hover{
    box-shadow: 0 0 40px rgba(159, 54, 72, 0.993);  
    transform: scale(0.9);
}
                   
.cartelera-peli{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}                 

.contenedor-botones-paso{
    width: 75vw;
    padding: 2rem 0 6rem 0;
    display: flex;
    justify-content: center;
}

.btnPaso{
    margin: 0 1rem;   
    background-color:rgb(159, 54, 71);    
    color:white;
    border-radius: 10px;
    border: 1.5px solid white;
    font-size: 1rem;     
    padding: 1rem 1.2rem;      
    transition: transform 0.5s, box-shadow 0.5s;
}

.btnPaso:hover {
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.37);
    cursor: pointer;
}   

.nombre-pelicula{
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    border-radius: 10px;  
    backdrop-filter: blur(10px); /* Aplica un filtro de desenfoque */
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 0 1.5rem;
    opacity: 0;
    transition: opacity 0.5s
}

.nombre-pelicula:hover{
    opacity: 1;
}

@media (max-width: 768px) {
    .sectionTendencias{
        scroll-margin-top: 20vh;
    }
                  
    .contenedor-peliculas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .pelicula{        
        width:300px;
        height: 500px;
        margin: 30px 0px;
    }
    
    .btnPaso{
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .sectionTendencias{
        scroll-margin-top: 20vh;
    }
                  
    .contenedor-peliculas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .pelicula{        
        width:100%;
        height: 500px;
        margin: 30px 0px;
    }
    
    .btnPaso{
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }
}

/*SECTION SERIES*/ 
.sectionSeries{
    width:75vw;
    margin: 0 12.5vw;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;    
}

.contenedor-series{
    margin-top: 2rem;          
    width: 100%;
    overflow-x: auto; /* Permitir desplazamiento horizontal */    
    display: flex;
}

.serie{
    width: 150px;
    height: 250px;   
    margin: 0 1rem 2rem 1rem;
    cursor: pointer; 
    border-radius: 5px; 
}

.cartelera-serie{
    border-radius: 5%;
    height: 95%;
    object-fit: cover;
}   
 

@media (max-width: 768px) {   
    .serie{
        width: 125px;
        height: 200px;  
    }           
}


/*FOOTER*/
.footer{
    background-color:rgb(159, 54, 71);
    color:#ffffff;
    
    height:115px;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
} 

.footer .contenedor-botones .btn:nth-child(4){   
    background-color: rgb(24, 20, 25); 
}

/*
.footer .contenedor-botones .btn:nth-child(4):hover{   
    background-color: rgb(159, 54, 71);
}
*/

@media (max-width: 768px) {
    .footer{
        height: 154PX;
    }

    .vertical{
        flex-direction: column;
    }  
    
    .footer .btn{
        margin: 0.1rem 0;
    }
}

/*PAGINAS SECUNDARIAS (REGISTRO Y INICIODESESION*/
.bodySecundario{
    height: 100vh;
    color:white;
    overflow-x: hidden;
    background-image: url(imagenes/fondo-cine.jpg);
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oscurecer{
    position: absolute; /* Para posicionar este elemento sobre el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1); /* Color negro con opacidad del 10% */
}

.headerSecundario{    
    width: 100vw;    
    height:10vh;      
    padding: 2rem;
    /*display: flex; para que baile el logo descomentar esto*/    
}
            
.sectionFormulario{
    width: 100vw;    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
    /*background-color: red;*/
}

.contenedor-formulario{   
    width: 30vw;  
    background-color:rgb(42, 42, 42);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    animation: crecer 1s forwards;
    margin: 0 auto;    
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding: 2rem 0;
}

.contenedor-formulario::-webkit-scrollbar {  /* Ocultar la barra de desplazamiento */
    width: 0; 
    height: 0; 
    display: none; 
}

.tituloSecundario{
    font-size: 2.4rem;
}       

.formulario{
    margin-top: 2rem;
    width: 70%;
}

.ingreso-datos{
    width: 100%;
    height: 2.7rem;
    border-radius: 30px;
    color:white;
    border: 0.15rem solid rgb(159, 54, 71);
    font-size: 1.2rem;  
    outline: none; /*eliminar el foco cuando estamos en el buscador*/
    background-color: RGB(51, 51, 51);
    padding: 0 1rem;
    margin: 0 0 1rem 0; 
}

.checkbox{
    font-size: 0.8rem;
}

.btn-registro-2{   
    outline: none;/*eliminar el foco cuando estamos en el buscador*/
    background-color:rgb(159, 54, 71);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.7rem 1.8rem;    
    cursor: pointer;   
    width: 100%;  
    margin:1rem 0;      
}
                
.mensaje-final{    
    font-size: 1rem;
    color: grey;      
}           
 
@media (max-width: 1200px) {  /*pantallas menores a XL*/      
    .contenedor-formulario{
        width: 80vw;
    }
            
    .tituloSecundario{
        font-size: 2rem;
    }

    .ingreso-datos{
        font-size: 1rem;          
    }
    
    .mensaje-final{
        font-size: 0.8rem;
    }
}
  
/*PAGINAS DESCRIPCION*/  

/*SECTION DESCRIPCION*/  
.sectionDescripcion{
    position: relative;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/DGBS-BIG.jpg);
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Para que la imagen no se repita */ 
}

.blanco-transparente{
    position: absolute; /* Para posicionar este elemento sobre el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(95, 95, 95, 0.5); /* Color grid con opacidad del 50% */
}

.descripcion{
    z-index: 1;
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin: 3rem 0;
}

.img-descripcion{
    border-radius: 30px;
    width: 300px;
    height: 450px;
}
            
.texto-descripcion h1{
    font-size: 2.2rem;
}
                
.texto-descripcion h2{
    font-size: 1.5rem;
    margin-top:1.5rem;
}  

.texto-descripcion h3{
    font-size: 1.2rem;
    margin-top:1.2rem;
}  

.separar{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {      /*pantallas menores a XL*/      
    .sectionDescripcion{       
        flex-direction: column;
    }

    .descripcion{       
        flex-direction: column;
    }   

    .img-descripcion{
        width: 200px;
        height: 300px;
    }

    .separar{
        display: block;
    }

    .texto-descripcion h1{
        font-size: 1.7rem;
        margin-top: 1.5rem;        
    }
                    
    .texto-descripcion h2{
        font-size: 1rem;
    }  

    .texto-descripcion h3{
        font-size: 0.9rem;
        margin-top: 0.9rem;
    }  
}
        
/*SECTION TRAILER*/        
.sectionTrailer{
    width:80vw;
    padding: 7rem 0;      
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.contenedor-trailer-informacion{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

iframe{
    width: 550px;       
    min-width: 550px;   
    border: none;  
}

.contenedor-informacion{
    margin: 0 5rem;
    width: 400px;
    min-width: 400px;
}

.contenedor-redes-sociales{
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;  
}

.contenedor-redes-sociales a{
    color: white;     
}

.contenedor-informacion p{
    font-size: 1rem;  
    font-weight: bold;
    text-align: center;    
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.informacion{    
    width: 100%;
    display: flex;
    flex-direction: row;
}

.informacion p{
    text-align: left;
    font-size: 1.3rem;  
    margin-bottom: 1rem;
}

.datos, .cifras{
    width: 50%;
}

.cifras p{
    font-weight:100;
}

@media screen and (max-width:1200px){         /*pantallas menores a XL*/      
    .sectionTrailer{
        width:95vw;        
    }
    
    .contenedor-trailer-informacion{   
        width: 100%;     
        flex-direction: column;
    }     
    
    iframe{
        width: 100%;     
        min-width: auto;  
    }
    
    .contenedor-informacion{
        margin: 2rem 0 0 0;
        min-width: auto;
        width: 100%; 
    }
        
    .contenedor-informacion p{
        font-size: 1rem;  
        font-weight: 100;       
    }
    
    .contenedor-redes-sociales{        
        margin-bottom: 1rem;        
        font-size: 2rem;  
    }
        
    .informacion p{        
        font-size: 1.1rem;  
    }
        
    .datos p{
        font-weight:bold; 
    }            
}


    